<a href="https://colab.research.google.com/github/EJ-Ellie-John/NEDpython/blob/main/Class_8_DSAI_EJ_trial_1005.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#loop
Number_range = (0,9)

for l in range(0,10):
    print(l)
    print(l+10)
    print(l-5)
print("last-value: ",l)

0
10
-5
1
11
-4
2
12
-3
3
13
-2
4
14
-1
5
15
0
6
16
1
7
17
2
8
18
3
9
19
4
last-value:  9

In [ ]:
#list

Countries = ["Libya","Malta","Italy"]
for cntry in Countries:
    print(cntry.upper())

print(cntry.update(0,"PK"))

LIBYA
MALTA
ITALY

AttributeError: 'str' object has no attribute 'update'

In [58]:
#nested loop

Countries = ["Libya","Malta","Italy"]
for i in Countries:
    print(i)
    for j in i:
        print(j)

Libya
L
i
b
y
a
Malta
M
a
l
t
a
Italy
I
t
a
l
y

In [62]:
rows = int(input("How many line: "))

for i in range(1, rows+1):
    for j in range(i):
        print(" * ", end = " ")
    print()

rows = int(input("How many line: "))

for i in range(1, rows+1):
    for j in range(i):
        print(j, end = " ")
    print()

How many line: 4
 *
 *   *
 *   *   *
 *   *   *   *
How many line: 4
0
0 1
0 1 2
0 1 2 3