<a href="https://colab.research.google.com/github/EJ-Ellie-John/NEDpython/blob/main/Copy_of_EJ_Trial_1002_Class_V_Batch_X.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"1" + "1"

'11'

In [ ]:
1 + 1

2

In [ ]:
11 % 3
#modulus gets remainder

2

In [ ]:
11 / 3

3.6666666666666665

In [ ]:
11 // 3
#modulus gets the main factor or number with out decimal point

3

In [ ]:
11 ** 3

1331

In [ ]:
#assignment operator
a = 10
a = 12
a = 4
print (a)

a = a + 1
print (a)

#type of assignment operator += -+ *= /= %= //= **= := (reassign) &= |= ^= >= <= >>= <<= (add more operators) refers and performs actions on previous value
# comparison operator == != > < >= <= one of the most important operators and widely used

a += 15

print(a)

4
5
20

Comparison operator as marked in above # comparison operator == != > < >= <= one of the most important operators and widely used
Output will be either TRUE or FALSE, check logic

In [ ]:
print(100==101)
print(120==120)

False
True

In [ ]:
"Eli" == "Eli"
"Eli" == "eli"

False

In [ ]:
2 != 5

True

In [ ]:
5 != 5

False

**Logical operators AND OR NOT**

In [ ]:
5 == 5 and 2 == 2 and 3 == 3 and 'Eli' == 'Eli'
# TRUE      TRUE       TRUE       TRUE

True

In [ ]:
5 == 5 and 2 == 2 or 3 != 3 and 'Eli' == 'Eli'
# TRUE      TRUE       FALSE       TRUE

True

In [ ]:
True and True and True and True
False and True and True and True
False or True and True and True

True

**Python follows PEMDAS rule for operations**

In [ ]:
(True or False or False) and True
#in terms of sign in, user name or Email or contact no and the password will allow three options for signing in

True

**Python Identity Operator** "id"

Operator	Description	                                            Example
**is** 	      Returns True if both variables are the same object	    x is y
**is not**	  Returns True if both variables are not the same object	x is not y

In [ ]:
a = 5
b = 5
c = 5
print(id(a))
print(id(b))
print(id(c))
#why are they the same?


a is b
b is c
c is a

134012452634992
134012452634992
134012452634992

True

**Python membership operators**

**in** 	    Returns True if a sequence with the specified value is present in the object	x in y
**not in**	Returns True if a sequence with the specified value is not present in the object	x not in y

In [ ]:
#membership operator test
post = """
Hey
Whats up
Eli
"""
print(post)

Hey
Whats up
Eli

In [ ]:
print("eli" in post)
print("Eli" in post)

False
True

In [ ]:
names = ["Eli", "Ellie", "EJ", "ELish", "EJohn"]
print("Eli" in names)
print("Eli" not in names)
print("Ellie" in names)
print("Elish" not in names)
print("Elishba" in names)
print("Elishba" not in names)

True
False
True
True
False
True

In [ ]:
address = ["pakistan", "singapore", "heathrow"]
print("singapore" in address)
print("singapore" not in address)

True
False

In [ ]:
#PEMDAS application
# 2
# 7-5 = 4
# 2*2 = 4
# 2+4 = 6

2 + 2 * (7 - 5)

6

**Bitwise operators**

& 	AND	Sets each bit to 1 if both bits are 1
    x & y
|	  OR	Sets each bit to 1 if one of two bits is 1
    x | y
^	  XOR	Sets each bit to 1 if only one of two bits is
    1	x ^ y
~	  NOT	Inverts all the bits
    ~x
<<	Zero fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off
    x << 2
>>	Signed right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off
    x >> 2

In [ ]:
#String Datatypes

a = "Elishba"
b = 'Elishba'
c = """Elishba"""
d = '''Elishba'''

print(type(a),type(b) ,type(c),type(d))
print(id(a),id(b) ,id(c),id(d))

<class 'str'> <class 'str'> <class 'str'> <class 'str'>
134011127958640 134011127958640 134011127958640 134011127958640

In [ ]:
# prompt: print all methods of string

# Accessing string methods
string_methods = dir(str)

# Removing dunder methods
string_methods = [method for method in string_methods if not method.startswith('__')]

# Printing all string methods
for method in string_methods:

SyntaxError: incomplete input (<ipython-input-49-4305e0b84167>, line 10)

In [ ]:
# prompt: print all attributes of string

# Accessing string methods
string_methods = dir(str)

# Removing dunder methods
string_methods = [method for method in string_methods if not method.startswith('__')]

# Printing all string methods
for method in string_methods:
method

IndentationError: expected an indented block after 'for' statement on line 10 (<ipython-input-50-1894843c90b1>, line 11)

In [ ]:
text = " NEUROPLASTICITY "
print(text.capitalize())
print(text.casefold())
print(text.upper())
print(text.lower())
print(text.swapcase())
print(text.title())

print(text.count('A'))
print(text.find('A'))
print(text.index('A'))
print(text.startswith('N'))
print(text.endswith('Y'))
print(text.split('O'))
print(text.splitlines())

 neuroplasticity
 neuroplasticity
 NEUROPLASTICITY
 neuroplasticity
 neuroplasticity
 Neuroplasticity
1
8
8
False
False
[' NEUR', 'PLASTICITY ']
[' NEUROPLASTICITY ']

In [ ]:
names = ["Eli", "Ellie", "EJ", "ELish", "EJohn"]
print(text.join(names))

print(names)
" WoW ".join(names)

Eli NEUROPLASTICITY Ellie NEUROPLASTICITY EJ NEUROPLASTICITY ELish NEUROPLASTICITY EJohn
['Eli', 'Ellie', 'EJ', 'ELish', 'EJohn']

'Eli WoW Ellie WoW EJ WoW ELish WoW EJohn'

In [ ]:
card = '''
IOBM
EJ
MBA
2005
KHI
'''
print(card)

IOBM
EJ
MBA
2005
KHI

In [ ]:
text1 = """
Eli {4 + 1}
"""
print(text1)


text1 = f"""
Eli {4 + 1}
"""
print(text1)

Eli {4 + 1}


Eli 5

In [ ]:
#creating loops
for name in names:
    print(f"Welcome {name}")
    print("Welcome {}".format(name))
    print("Welcome %s" % name)

    print(card.format(name))

Welcome Eli
Welcome Eli
Welcome Eli

IOBM
EJ
MBA
2005
KHI

Welcome Ellie
Welcome Ellie
Welcome Ellie

IOBM
EJ
MBA
2005
KHI

Welcome EJ
Welcome EJ
Welcome EJ

IOBM
EJ
MBA
2005
KHI

Welcome ELish
Welcome ELish
Welcome ELish

IOBM
EJ
MBA
2005
KHI

Welcome EJohn
Welcome EJohn
Welcome EJohn

IOBM
EJ
MBA
2005
KHI

In [ ]:
# prompt: print all methods of string

# Accessing string methods
string_methods = dir(str)

# Removing dunder methods
string_methods = [method for method in string_methods if not method.startswith('__')]

# Printing all string methods
for method in string_methods:
method

IndentationError: expected an indented block after 'for' statement on line 10 (<ipython-input-79-49f546417a67>, line 11)

In [ ]:
# prompt: print all methods of string

# Accessing string methods
string_methods = dir(str)

# Removing dunder methods
string_methods = [method for method in string_methods if not method.startswith('__')]

# Printing all string methods
for method in string_methods:
    # Indented the 'method' statement to execute within the loop
    print(method) #Added print statement to display each method

capitalize
casefold
center
count
encode
endswith
expandtabs
find
format
format_map
index
isalnum
isalpha
isascii
isdecimal
isdigit
isidentifier
islower
isnumeric
isprintable
isspace
istitle
isupper
join
ljust
lower
lstrip
maketrans
partition
removeprefix
removesuffix
replace
rfind
rindex
rjust
rpartition
rsplit
rstrip
split
splitlines
startswith
strip
swapcase
title
translate
upper
zfill