<a href="https://colab.research.google.com/github/EJ-Ellie-John/NEDpython/blob/main/EJ_Trial_a001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
3.%

# Types of concats
1. +
2. format
3. %

first trial of formatting output
# view of text presentation

1. Var1 and Var2

**Elishba John**
1. Person
2. Coach
3. HR professional
4. Traveler
5. *Friend*
6. Progressive

In [1]:
print(1+1)#2 int
print('1'+'1') #11 string

2
11

# How to create variable
'variable_name=variable_value'
1. variable_name
write meaning full name
2. '=' assign operator
3. = variable value

#Example
'student_name= "Muhammad Qasim:
1. variable_name(student_name)
2. operator(=)
3. Muhammad Qasim(variable_value)

*snake_case
*cane

*camelCase
*CapitalizeEachWord

# How to create string
1. 'string here'
2. "string here"
3. '''string here'''
4. """string here"""

In [9]:
data='''Love\tis\ttranscendence'''
print(type(data))
print(data)

<class 'str'>
Love	is	transcendence

Solve some problems

In [10]:
data='my desire is be competent' and need to fulfill that desire'
print(type(data))
print(data)

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-10-296bd8cf03b1>, line 1)

In [11]:
# convert any special character into normal character
data='my desire is be "competent" and need to fulfill that desire'
print(type(data))
print(data)

<class 'str'>
my desire is be "competent" and need to fulfill that desire

# Concatenate

In [16]:
name = "Elishba John"
father_name = "Inayat John"

print(name)
print(father_name)

message = "Hey " + name + ", lovely adorable girl"

print(message)

Elishba John
Inayat John
Hey Elishba John, lovely adorable girl

In [22]:
# .format
# .format()at the end of string
name = "Elishba John"
father_name = "Inayat John"

print(name)
print(father_name)

message = "Hey, {1} dau of {0}",format(name,father_name)

print(message)

Elishba John
Inayat John

ValueError: Invalid format specifier

In [27]:
# %
# place holder data type symbols
# string = &s
# int = #d

name = "Elishba John"
father_name = "Inayat John"

print(name)
print(father_name)

message = "Hey, %s dau of %d", (name,father_name)

print(message)

Elishba John
Inayat John
('Hey, %s dau of %d', ('Elishba John', 'Inayat John'))

In [28]:
# f-string
# place f before starting boundary

name = "Elishba John"
father_name = "Inayat John"

print(name)
print(father_name)

message = f"name, father_name"

print(message)

Elishba John
Inayat John
name, father_name

F-string