<a href="https://colab.research.google.com/github/EJ-Ellie-John/NEDpython/blob/main/EJ_Trial_1004.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#dictionary and tuple

In [ ]:
#         0   1   2   3  4 5 6 7
names = ['a','b','c','d',1,2,3,4]
#         -8 -7  -6 -5 -4 -3 -2 -1

print(names[2])
print(names[-2])

c
3

Slicing
start = include
end = exclude(n-1)
step = sequence

In [ ]:
#         0   1   2   3  4 5 6 7
names = ['a','b','c','d',1,2,3,4]
#         -8 -7  -6 -5 -4 -3 -2 -1

print(names[0:4])

print(names[-8:-4])

print(names[0:-4])
print(names[-8:4])

# negative and positive indexing work

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']

In [ ]:
#         0   1   2   3  4 5 6 7
names = ['a','b','c','d',1,2,3,4]
#         -8 -7  -6 -5 -4 -3 -2 -1

#order left to right
print(names[::1])
print(names[::2])
print(names[::3])

#reverse right to left
print(names[::-1])
print(names[::-2])
print(names[::-3])
print(names[-4:-7:-1])
print(names[-4:-7:1])

['a', 'b', 'c', 'd', 1, 2, 3, 4]
['a', 'c', 1, 3]
['a', 'd', 3]
[4, 3, 2, 1, 'd', 'c', 'b', 'a']
[4, 2, 'd', 'b']
[4, 1, 'b']
[1, 'd', 'c']
[]

In [ ]:
#          0     1       2        3   4    5
data1 = ["Ellie","PGD","Batch X","NED",10,"11am",5000,201000]
data2 = ["EJ","MBA","Batch 14", "IoBM",25,"9am",40000,300000]

 # Naming, data type can get interchanged, like columns get interchanged expiry of passport date is entered in issuance of passport date
 # Introduction to dictionary

In [ ]:
# prompt: print list of methods in strings

print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
#         0   1   2   3  4 5 6 7
names = ['a','b','c','d',1,2,3,4]
#         -8 -7  -6 -5 -4 -3 -2 -1

print(type(names))
print(type(data1))

<class 'list'>
<class 'list'>

Tuple password is a tuple and is imutable

List is []
Tuple is ()
Set is {}

In [ ]:
data1 = ("Ellie","PGD","Batch X","NED",10,"11am",5000,201000)
print(data1)
data2 = ("EJ","MBA","Batch 14", "IoBM",25,"9am",40000,300000)
print(data2)

data1 = ("Elishba","PGD","Batch X","NED",10,"11am",5000,201000) #reassignment and creation of new tuple
print(data1)

#tuple can be multidimensional

('Ellie', 'PGD', 'Batch X', 'NED', 10, '11am', 5000, 201000)
('EJ', 'MBA', 'Batch 14', 'IoBM', 25, '9am', 40000, 300000)
('Elishba', 'PGD', 'Batch X', 'NED', 10, '11am', 5000, 201000)

In [ ]:
print(dir(tuple))

#count and index only

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

Set

In [ ]:
a1 = {"a","b","c","a","a","c","b",1,2,2,2,2}
print(a1)

{1, 2, 'c', 'a', 'b'}

In [ ]:
print(dir(set))

#'add', 'clear', 'copy', 'difference', 'difference_update', 'discard',
#'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', #
#'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update'

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [ ]:
a1 ={"a","b","c"}
a2 = {"a","c","x"}

print(a1.difference(a2))
print(a2.difference(a1))

print(a1.intersection(a2))
print(a2.intersection(a1))
#state bank prompt fraud CNIC and all bank CNIC
#

print(a1.union(a2))
print(a2.union(a1))

sbp = {1,2,3}
fraud = {2,4,7}

print(sbp.intersection(fraud))
print(fraud.intersection(sbp))
#state bank prompt fraud CNIC and all bank CNIC
print(sbp.difference(fraud)) #??
print(fraud.difference(sbp)) #??

{'b'}
{'x'}
{'a', 'c'}
{'a', 'c'}
{'x', 'c', 'a', 'b'}
{'x', 'c', 'a', 'b'}
{2}
{2}
{1, 3}
{4, 7}

Dictionary
Replace index by Key
{key}

In [ ]:
#{key:value}
#data1 = ("Ellie","PGD","Batch X","NED",10,"11am",5000,201000)

data1 = {
    "name":"Ellie",
    "qualification":"PGD",
    "batch":"Batch X",
    "institute":"NED"
    }
print(data1)
print(type(data1))

data2 = {"name":"EJ",
"DEG":"MBA",
         "YEAR":"Batch 14",
         "INST":"IoBM",
         "YR":25,
         "CLS":"9am",
         "SEM":40000,
         "FIN":300000}

print(data2)

#output of specific info from Dic, data set or form
print(data1['name'])

print(data2['SEM'])

{'name': 'Ellie', 'qualification': 'PGD', 'batch': 'Batch X', 'institute': 'NED'}
<class 'dict'>
{'name': 'EJ', 'DEG': 'MBA', 'YEAR': 'Batch 14', 'INST': 'IoBM', 'YR': 25, 'CLS': '9am', 'SEM': 40000, 'FIN': 300000}
Ellie
40000

In [ ]:
# prompt: generate simple code of nested dictionary using above code

nested_dict = {
    'person1': {
        'name': 'Alice',
        'age': 30,
        'city': 'New York'
    },
    'person2': {
        'name': 'Bob',
        'age': 25,
        'city': 'Los Angeles'
    }
}

print(nested_dict)
print(nested_dict['person1']['name']) # Accessing nested values

{'person1': {'name': 'Alice', 'age': 30, 'city': 'New York'}, 'person2': {'name': 'Bob', 'age': 25, 'city': 'Los Angeles'}}
Alice

In [ ]:
# prompt: list of methods for dictionary

#print(dir(dict))

#'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values'

data2 = data1 #same object, shallow copy, nick name

print(data2)

data1 = {
    "name":"Ellie",
    "qualification":"PGD",
    "batch":"Batch X",
    "institute":"NED"
    }
print(data1)
print(type(data1))

data2 = {"name":"EJ",
"DEG":"MBA",
         "YEAR":"Batch 14",
         "INST":"IoBM",
         "YR":25,
         "CLS":"9am",
         "SEM":40000,
         "FIN":300000}
print(data2)


#print(data1.copy(data2))

print(data1)

{'name': 'Ellie', 'qualification': 'PGD', 'batch': 'Batch X', 'institute': 'NED'}
{'name': 'Ellie', 'qualification': 'PGD', 'batch': 'Batch X', 'institute': 'NED'}
<class 'dict'>
{'name': 'EJ', 'DEG': 'MBA', 'YEAR': 'Batch 14', 'INST': 'IoBM', 'YR': 25, 'CLS': '9am', 'SEM': 40000, 'FIN': 300000}
{'name': 'Ellie', 'qualification': 'PGD', 'batch': 'Batch X', 'institute': 'NED'}

In [ ]:
#data2 = data1 #same object, shallow copy, nick name

print(data2)

data1 = {
    "name":"Ellie",
    "qualification":"PGD",
    "batch":"Batch X",
    "institute":"NED"
    }
print(data1)
print(type(data1))

data2 = {"name":"EJ",
"DEG":"MBA",
         "YEAR":"Batch 14",
         "INST":"IoBM",
         "YR":25,
         "CLS":"9am",
         "SEM":40000,
         "FIN":300000}
print(data2)
data2=data1.copy()

print(data1)
#data1.fromkeys()

#print(data1)

{'name': 'EJ', 'DEG': 'MBA', 'YEAR': 'Batch 14', 'INST': 'IoBM', 'YR': 25, 'CLS': '9am', 'SEM': 40000, 'FIN': 300000}
{'name': 'Ellie', 'qualification': 'PGD', 'batch': 'Batch X', 'institute': 'NED'}
<class 'dict'>
{'name': 'EJ', 'DEG': 'MBA', 'YEAR': 'Batch 14', 'INST': 'IoBM', 'YR': 25, 'CLS': '9am', 'SEM': 40000, 'FIN': 300000}
{'name': 'Ellie', 'qualification': 'PGD', 'batch': 'Batch X', 'institute': 'NED'}

In [ ]:
data2 = {"name":"EJ",
"DEG":"MBA",
         "YEAR":"Batch 14",
         "INST":"IoBM",
         "YR":25,
         "CLS":"9am",
         "SEM":40000,
         "FIN":300000}
print(data2)

print(data2.items())
print(data2.values())
print(data2.keys())

{'name': 'EJ', 'DEG': 'MBA', 'YEAR': 'Batch 14', 'INST': 'IoBM', 'YR': 25, 'CLS': '9am', 'SEM': 40000, 'FIN': 300000}
dict_items([('name', 'EJ'), ('DEG', 'MBA'), ('YEAR', 'Batch 14'), ('INST', 'IoBM'), ('YR', 25), ('CLS', '9am'), ('SEM', 40000), ('FIN', 300000)])
dict_values(['EJ', 'MBA', 'Batch 14', 'IoBM', 25, '9am', 40000, 300000])
dict_keys(['name', 'DEG', 'YEAR', 'INST', 'YR', 'CLS', 'SEM', 'FIN'])

In [ ]:
data2 = {"name":"EJ",
"DEG":"MBA",
         "YEAR":"Batch 14",
         "INST":"IoBM",
         "YR":25,
         "CLS":"9am",
         "SEM":40000,
         "FIN":300000}
print(data2)

del_data = data2.pop('YR')
print(del_data)
print(data2)
#in memory operation, change and deletes physical data (actual delete)

{'name': 'EJ', 'DEG': 'MBA', 'YEAR': 'Batch 14', 'INST': 'IoBM', 'YR': 25, 'CLS': '9am', 'SEM': 40000, 'FIN': 300000}
25
{'name': 'EJ', 'DEG': 'MBA', 'YEAR': 'Batch 14', 'INST': 'IoBM', 'CLS': '9am', 'SEM': 40000, 'FIN': 300000}

In [ ]:
data2 = {"name":"EJ",
"DEG":"MBA",
         "YEAR":"Batch 14",
         "INST":"IoBM",
         "YR":25,
         "CLS":"9am",
         "SEM":40000,
         "FIN":300000}
print(data2)

del_data = data2.popitem() # removes last information - LIFO method No key is passed as in empty brackets
print(del_data)
print(data2)

{'name': 'EJ', 'DEG': 'MBA', 'YEAR': 'Batch 14', 'INST': 'IoBM', 'YR': 25, 'CLS': '9am', 'SEM': 40000, 'FIN': 300000}
('FIN', 300000)
{'name': 'EJ', 'DEG': 'MBA', 'YEAR': 'Batch 14', 'INST': 'IoBM', 'YR': 25, 'CLS': '9am', 'SEM': 40000}

In [ ]:
# set default
data2 = {"name":"EJ",
"DEG":"MBA",
         "YEAR":"Batch 14",
         "INST":"IoBM",
         "YR":25,
         "CLS":"9am",
         "SEM":40000,
         "FIN":300000}
print(data2)

print(data2.setdefault('contact',"NA"))
print(data2)

print(data2.get("contact"))

{'name': 'EJ', 'DEG': 'MBA', 'YEAR': 'Batch 14', 'INST': 'IoBM', 'YR': 25, 'CLS': '9am', 'SEM': 40000, 'FIN': 300000}
NA
{'name': 'EJ', 'DEG': 'MBA', 'YEAR': 'Batch 14', 'INST': 'IoBM', 'YR': 25, 'CLS': '9am', 'SEM': 40000, 'FIN': 300000, 'contact': 'NA'}
NA

In [ ]:

data1 = {
    "name":"Ellie",
    "qualification":"PGD",
    "batch":"Batch X",
    "institute":"NED"
    }
print(data1)

data2 = {"name":"EJ",
"DEG":"MBA",
         "YEAR":"Batch 14",
         "INST":"IoBM",
         "YR":25,
         "CLS":"9am",
         "SEM":40000,
         "FIN":300000}
print(data2)


import pandas as pd
df = pd.DataFrame([data1,data2])
df

{'name': 'Ellie', 'qualification': 'PGD', 'batch': 'Batch X', 'institute': 'NED'}
{'name': 'EJ', 'DEG': 'MBA', 'YEAR': 'Batch 14', 'INST': 'IoBM', 'YR': 25, 'CLS': '9am', 'SEM': 40000, 'FIN': 300000}

,name,qualification,batch,institute,DEG,YEAR,INST,YR,CLS,SEM,FIN
0,Ellie,PGD,Batch X,NED,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,EJ,NaN,NaN,NaN,MBA,Batch 14,IoBM,25.0,9am,40000.0,300000.0

In [7]:
# prompt: write code to generate a pakistani national identity card

import pandas as pd
import random

def generate_cnic():
    # Generate a random 13-digit CNIC number
    cnic = ''.join(random.choices('0123456789', k=13))
    return cnic




cnic_number = generate_cnic()


person  = {"Name":"E I J",
           "Fname":"I J",
         "TYPE": "F",
         "CTRY":"Pakistan",
         "CNIC": cnic_number,
          "DOB": "20.08.2001",
         "YR_ISS":"20.08.2021",
         "YR_EXP": "20.08.2031",
           "ADR":"House 101, DHA 101, Karachi 10001"
           }

print(person)

{'Name': 'E I J', 'Fname': 'I J', 'TYPE': 'F', 'CTRY': 'Pakistan', 'CNIC': '0865306105693', 'DOB': '20.08.2001', 'YR_ISS': '20.08.2021', 'YR_EXP': '20.08.2031', 'ADR': 'House 101, DHA 101, Karachi 10001'}